# CapStone Project
Name: Richard Valades
Updated: 2022.12.13

# The goal of this project is to create and evaluate 4 Machine Learning Models to make predictions on location based on wi-fi signal data

In [2]:
# Based on the wi-fi signals project that was created in R.
# This project follows a similar process with the learnings from that project being applied in a Python environment.

# Import Packages

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Load the dataset
LocData = pd.read_csv('TrainingData.csv', index_col=False)
print(LocData.shape)

(19937, 529)

In [4]:
#Examine the features of the data
LocData.head()

,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP,WAP001,...,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520
0,-7541.2643,4864920.778,2,1,106,2,2,23,1371713733,100,...,100,100,100,100,100,100,100,100,100,100
1,-7536.6212,4864934.225,2,1,106,2,2,23,1371713691,100,...,100,100,100,100,100,100,100,100,100,100
2,-7519.1524,4864949.532,2,1,103,2,2,23,1371714095,100,...,100,100,100,100,100,100,100,100,100,100
3,-7524.5704,4864934.093,2,1,102,2,2,23,1371713807,100,...,100,100,100,100,100,100,100,100,100,100
4,-7632.1436,4864982.217,0,0,122,2,11,13,1369909710,100,...,100,100,100,100,100,100,100,100,100,100

In [5]:
#Remove unnecessary features
LocData = LocData.drop(columns=['USERID','PHONEID','LONGITUDE','LATITUDE','TIMESTAMP'])

In [6]:
LocData.head()

,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,...,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520
0,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
1,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2,2,1,103,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
3,2,1,102,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
4,0,0,122,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100

In [7]:
#Check data types
LocData.dtypes

FLOOR               int64
BUILDINGID          int64
SPACEID             int64
RELATIVEPOSITION    int64
WAP001              int64
                    ...
WAP516              int64
WAP517              int64
WAP518              int64
WAP519              int64
WAP520              int64
Length: 524, dtype: object

In [8]:
#Change data type to string to combine columns for dependent variable
LocData = LocData.astype(str)

In [9]:
#Confirm data types
LocData.dtypes

FLOOR               object
BUILDINGID          object
SPACEID             object
RELATIVEPOSITION    object
WAP001              object
                     ...
WAP516              object
WAP517              object
WAP518              object
WAP519              object
WAP520              object
Length: 524, dtype: object

In [10]:
#combine columns to create unique location ID as depedent variable
LocData['POSITIONID'] = LocData['FLOOR'] + LocData['BUILDINGID'] + LocData['SPACEID'] + LocData['RELATIVEPOSITION']

In [11]:
#Confirm new object is created
LocData.head()

,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,...,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,POSITIONID
0,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
1,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
2,2,1,103,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211032
3,2,1,102,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211022
4,0,0,122,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,001222

In [12]:
#Change data types back to integer for modeling
LocData = LocData.astype(np.int64)

In [13]:
#Confirm data types
LocData.dtypes

FLOOR               int64
BUILDINGID          int64
SPACEID             int64
RELATIVEPOSITION    int64
WAP001              int64
                    ...
WAP517              int64
WAP518              int64
WAP519              int64
WAP520              int64
POSITIONID          int64
Length: 525, dtype: object

In [14]:
#Confirm features
LocData.head()

,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,...,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,POSITIONID
0,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
1,2,1,106,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
2,2,1,103,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211032
3,2,1,102,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211022
4,0,0,122,2,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,1222

In [15]:
# Verify shape of data after feature engineering
LocData.shape

(19937, 525)

In [16]:
print(LocData)

       FLOOR  BUILDINGID  SPACEID  RELATIVEPOSITION  WAP001  WAP002  WAP003  \
0          2           1      106                 2     100     100     100
1          2           1      106                 2     100     100     100
2          2           1      103                 2     100     100     100
3          2           1      102                 2     100     100     100
4          0           0      122                 2     100     100     100
...      ...         ...      ...               ...     ...     ...     ...
19932      3           1        1                 2     100     100     100
19933      1           2      140                 2     100     100     100
19934      3           1       13                 2     100     100     100
19935      3           1      113                 2     100     100     100
19936      3           1      112                 2     100     100     100

       WAP004  WAP005  WAP006  ...  WAP512  WAP513  WAP514  WAP515  WAP516  \
0         100     100     100  ...     100     100     100     100     100
1         100     100     100  ...     100     100     100     100     100
2         100     100     100  ...     100     100     100     100     100
3         100     100     100  ...     100     100     100     100     100
4         100     100     100  ...     100     100     100     100     100
...       ...     ...     ...  ...     ...     ...     ...     ...     ...
19932     100     100     100  ...     100     100     100     100     100
19933     100     100     100  ...     100     100     100     100     100
19934     100     100     100  ...     100     100     100     100     100
19935     100     100     100  ...     100     100     100     100     100
19936     100     100     100  ...     100     100     100     100     100

       WAP517  WAP518  WAP519  WAP520  POSITIONID
0         100     100     100     100      211062
1         100     100     100     100      211062
2         100     100     100     100      211032
3         100     100     100     100      211022
4         100     100     100     100        1222
...       ...     ...     ...     ...         ...
19932     100     100     100     100        3112
19933     100     100     100     100      121402
19934     100     100     100     100       31132
19935     100     100     100     100      311132
19936     100     100     100     100      311122

[19937 rows x 525 columns]

In [17]:
# Subset data to one building
LocData = LocData[LocData['BUILDINGID'] == 1]

In [18]:
# Confirm only building 1 is present in dataset
print(LocData)

       FLOOR  BUILDINGID  SPACEID  RELATIVEPOSITION  WAP001  WAP002  WAP003  \
0          2           1      106                 2     100     100     100
1          2           1      106                 2     100     100     100
2          2           1      103                 2     100     100     100
3          2           1      102                 2     100     100     100
5          2           1      105                 2     100     100     100
...      ...         ...      ...               ...     ...     ...     ...
19930      3           1        4                 2     100     100     100
19932      3           1        1                 2     100     100     100
19934      3           1       13                 2     100     100     100
19935      3           1      113                 2     100     100     100
19936      3           1      112                 2     100     100     100

       WAP004  WAP005  WAP006  ...  WAP512  WAP513  WAP514  WAP515  WAP516  \
0         100     100     100  ...     100     100     100     100     100
1         100     100     100  ...     100     100     100     100     100
2         100     100     100  ...     100     100     100     100     100
3         100     100     100  ...     100     100     100     100     100
5         100     100     100  ...     100     100     100     100     100
...       ...     ...     ...  ...     ...     ...     ...     ...     ...
19930     100     100     100  ...     100     100     100     100     100
19932     100     100     100  ...     100     100     100     100     100
19934     100     100     100  ...     100     100     100     100     100
19935     100     100     100  ...     100     100     100     100     100
19936     100     100     100  ...     100     100     100     100     100

       WAP517  WAP518  WAP519  WAP520  POSITIONID
0         100     100     100     100      211062
1         100     100     100     100      211062
2         100     100     100     100      211032
3         100     100     100     100      211022
5         100     100     100     100      211052
...       ...     ...     ...     ...         ...
19930     100     100     100     100        3142
19932     100     100     100     100        3112
19934     100     100     100     100       31132
19935     100     100     100     100      311132
19936     100     100     100     100      311122

[5196 rows x 525 columns]

In [19]:
LocData.shape

(5196, 525)

In [20]:
# Remove unnecessary features
LocData = LocData.drop(columns=['FLOOR','BUILDINGID','SPACEID','RELATIVEPOSITION'])

In [21]:
# Confirm dataset after feature elimination
LocData.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520,POSITIONID
0,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
1,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211062
2,100,100,100,100,100,100,100,-97,100,100,...,100,100,100,100,100,100,100,100,100,211032
3,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211022
5,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,211052

# Set seed and create objects for Train/Test Sets

In [22]:
#Set random sead
seed = 123

In [23]:
# Select Features and Dependent variable
Y_Location = LocData['POSITIONID']
X_Location = LocData.iloc[:,0:520]

In [25]:
# Check that IV columns are correct
X_Location.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520
0,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
1,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2,100,100,100,100,100,100,100,-97,100,100,...,100,100,100,100,100,100,100,100,100,100
3,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
5,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100

# Create Train and Test Sets

In [26]:
#Split data into training and test sets with 70/30 split

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X_Location,
                                            Y_Location,
                                            test_size = .30,
                                            random_state = seed)

print(X_Train.shape, X_Test.shape)
print(Y_Train.shape, Y_Test.shape)

(3637, 520) (1559, 520)
(3637,) (1559,)

# Create Models

In [27]:
# select classification algorithms 

algos = []
algos.append(('Random Forest Classifier', RandomForestClassifier()))
algos.append(('Gradient Boosting Classifier', GradientBoostingClassifier()))
algos.append(('Decision Tree Classifier', DecisionTreeClassifier()))
algos.append(('KNeighbors Classifier', KNeighborsClassifier()))

In [29]:
# build models

results = []
names = []

for name, model in algos:
    result = cross_val_score(model, X_Train, Y_Train, cv=4)
    names.append(name)
    results.append(result)

In [30]:
# evaluate results

for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest Classifier 0.8325541894848825
Gradient Boosting Classifier 0.5691527944003192
Decision Tree Classifier 0.6406399980657407
KNeighbors Classifier 0.5993934283538244

# Validate

In [31]:
#Select best model(s) to tune and validate with the test set

bestAlgo = RandomForestClassifier()
bestAlgopred = bestAlgo.fit(X_Train, Y_Train).predict(X_Test)
print(classification_report(Y_Test, bestAlgopred))
print(confusion_matrix(Y_Test, bestAlgopred))

              precision    recall  f1-score   support

         111       1.00      1.00      1.00         3
         112       0.83      1.00      0.91         5
         132       1.00      0.86      0.92         7
         162       1.00      1.00      1.00         3
         191       0.75      1.00      0.86         3
         192       0.75      0.75      0.75         8
        1101       0.20      0.50      0.29         2
        1102       1.00      0.88      0.93         8
        1122       1.00      1.00      1.00         3
        1132       1.00      0.33      0.50         3
        1142       0.78      1.00      0.88         7
        1152       1.00      1.00      1.00         5
        1162       1.00      0.86      0.92         7
        1172       1.00      1.00      1.00         3
        1182       0.62      0.62      0.62         8
        2121       1.00      0.75      0.86         4
        2122       1.00      1.00      1.00         3
        2131       1.00      1.00      1.00         2
        2132       0.83      0.83      0.83         6
        2141       1.00      1.00      1.00         4
        2142       0.88      1.00      0.93         7
        2151       1.00      1.00      1.00         3
        2152       1.00      1.00      1.00         7
        2161       1.00      1.00      1.00         7
        2162       1.00      1.00      1.00         6
        2171       1.00      1.00      1.00         2
        2172       1.00      1.00      1.00         6
        2181       1.00      1.00      1.00         2
        2182       1.00      0.83      0.91         6
        2191       1.00      1.00      1.00         2
        2192       0.80      1.00      0.89         4
        3112       1.00      0.92      0.96        12
        3122       0.89      1.00      0.94         8
        3131       0.67      0.67      0.67         3
        3132       1.00      0.80      0.89         5
        3141       0.80      0.67      0.73         6
        3142       1.00      0.93      0.97        15
        3151       0.50      0.50      0.50         4
        3152       1.00      0.50      0.67         2
        3161       1.00      0.75      0.86         4
        3162       0.00      0.00      0.00         2
       11072       1.00      0.83      0.91         6
       11082       0.86      1.00      0.92         6
       11102       1.00      1.00      1.00         6
       11112       1.00      1.00      1.00         3
       11122       0.58      0.78      0.67         9
       11132       0.47      0.58      0.52        12
       11142       1.00      0.88      0.93         8
       11152       1.00      1.00      1.00         3
       11161       0.00      0.00      0.00         1
       11162       0.88      0.88      0.88         8
       11172       1.00      0.88      0.93         8
       11182       1.00      1.00      1.00         5
       11192       1.00      1.00      1.00         8
       11212       0.67      1.00      0.80         2
       11222       1.00      1.00      1.00         6
       11252       0.00      0.00      0.00         4
       11262       1.00      1.00      1.00         2
       11272       0.00      0.00      0.00         1
       11302       0.50      0.50      0.50         6
       12021       0.96      1.00      0.98        25
       12022       1.00      0.82      0.90        11
       12031       1.00      1.00      1.00         3
       12032       1.00      1.00      1.00         7
       12132       1.00      1.00      1.00         5
       12161       1.00      0.86      0.92         7
       12162       0.69      0.90      0.78        10
       12171       1.00      0.83      0.91         6
       12172       0.88      0.88      0.88         8
       12181       1.00      0.67      0.80         3
       12182       0.67      1.00      0.80         2
       12191       1.00      0.67      0.80         3
       12192       1.00      0.75      0.86         4
       12201       0.50      1.00      0.67         1
       12202       0.50      1.00      0.67         1
       12221       1.00      1.00      1.00         7
       12222       0.80      1.00      0.89         8
       12241       1.00      1.00      1.00         3
       12242       1.00      1.00      1.00         6
       12251       1.00      1.00      1.00         3
       12252       1.00      1.00      1.00         2
       12261       1.00      0.67      0.80         3
       12262       0.67      1.00      0.80         2
       12271       0.00      0.00      0.00         1
       12272       0.60      0.38      0.46         8
       12281       0.67      0.67      0.67         3
       12282       0.33      1.00      0.50         1
       12291       1.00      0.50      0.67         6
       12292       0.50      0.50      0.50         2
       12301       0.50      1.00      0.67         3
       12302       0.33      0.33      0.33         3
       12311       1.00      1.00      1.00         3
       12312       0.00      0.00      0.00         1
       12352       0.33      0.50      0.40         4
       12371       0.50      0.50      0.50         4
       12372       0.75      1.00      0.86         3
       12381       0.80      0.80      0.80         5
       12382       0.50      0.55      0.52        11
       12392       0.70      0.88      0.78         8
       12432       0.67      0.57      0.62         7
       12441       0.80      1.00      0.89         4
       12442       0.83      0.71      0.77         7
       12452       0.67      0.50      0.57         4
       12462       1.00      0.43      0.60         7
       12471       1.00      0.83      0.91        12
       12472       0.62      1.00      0.77         5
       12481       1.00      1.00      1.00        20
       12482       1.00      1.00      1.00         2
       12491       1.00      0.67      0.80         3
       12492       0.60      0.50      0.55         6
       21101       1.00      1.00      1.00         2
       21102       1.00      1.00      1.00        12
       21151       1.00      0.50      0.67         2
       21152       0.75      1.00      0.86         3
       21161       1.00      1.00      1.00         5
       21162       0.00      0.00      0.00         2
       21171       1.00      1.00      1.00         3
       21172       0.50      1.00      0.67         1
       21181       1.00      1.00      1.00         2
       21182       1.00      1.00      1.00         2
       21222       1.00      1.00      1.00         2
       21262       1.00      1.00      1.00         1
       21272       1.00      0.50      0.67         2
       21281       0.67      1.00      0.80         2
       21282       1.00      0.67      0.80         3
       21291       0.67      1.00      0.80         2
       21292       1.00      1.00      1.00         3
       31112       1.00      1.00      1.00         6
       31122       0.67      0.67      0.67         3
       31132       0.56      1.00      0.71         5
       31142       1.00      0.50      0.67         2
      111011       1.00      0.86      0.92         7
      111012       0.57      0.89      0.70        18
      111021       0.93      0.88      0.90        16
      111022       0.80      0.40      0.53        10
      111031       1.00      0.80      0.89        15
      111032       0.71      0.62      0.67         8
      111041       0.93      0.81      0.87        16
      111042       1.00      0.50      0.67        16
      111051       0.90      0.69      0.78        13
      111052       0.86      0.67      0.75         9
      111061       0.94      1.00      0.97        15
      111062       0.58      0.96      0.72        23
      111071       1.00      1.00      1.00        22
      111072       0.86      0.71      0.77        17
      111081       1.00      1.00      1.00        13
      111082       0.71      0.83      0.77         6
      111091       0.88      1.00      0.93        14
      111092       0.80      0.92      0.86        13
      111101       1.00      1.00      1.00        15
      111102       0.78      0.78      0.78         9
      111111       1.00      0.92      0.96        13
      111112       1.00      0.50      0.67         2
      111172       1.00      1.00      1.00        11
      112012       0.81      1.00      0.90        22
      112021       1.00      1.00      1.00         5
      112022       1.00      0.75      0.86         8
      112031       1.00      0.67      0.80         3
      112032       0.83      1.00      0.91         5
      112041       1.00      1.00      1.00         8
      112042       1.00      1.00      1.00         4
      112052       0.83      0.83      0.83         6
      112062       1.00      0.60      0.75        10
      112072       0.92      0.85      0.88        13
      112082       0.88      1.00      0.93         7
      112092       1.00      0.60      0.75         5
      112102       0.80      1.00      0.89        12
      112152       1.00      1.00      1.00         2
      211011       1.00      1.00      1.00         3
      211012       1.00      1.00      1.00        13
      211021       1.00      1.00      1.00         2
      211022       1.00      1.00      1.00         6
      211031       1.00      1.00      1.00         2
      211032       1.00      1.00      1.00        11
      211041       1.00      1.00      1.00         8
      211042       1.00      1.00      1.00         5
      211051       1.00      1.00      1.00         4
      211052       1.00      1.00      1.00         5
      211061       1.00      1.00      1.00         2
      211062       1.00      1.00      1.00         9
      211072       1.00      0.88      0.93         8
      211082       1.00      0.60      0.75        10
      211092       0.71      1.00      0.83         5
      211102       1.00      1.00      1.00         5
      211112       0.80      1.00      0.89         8
      211121       0.00      0.00      0.00         1
      211122       0.60      1.00      0.75         3
      211172       1.00      1.00      1.00         2
      212011       1.00      1.00      1.00        10
      212012       1.00      1.00      1.00        18
      212021       0.94      1.00      0.97        17
      212022       1.00      1.00      1.00         8
      212031       1.00      0.80      0.89         5
      212032       0.88      1.00      0.93         7
      212041       1.00      1.00      1.00         3
      212042       1.00      1.00      1.00         9
      212052       1.00      1.00      1.00         4
      212061       1.00      1.00      1.00         9
      212062       1.00      0.92      0.96        12
      212072       1.00      1.00      1.00         4
      212082       1.00      1.00      1.00         6
      212092       1.00      1.00      1.00         4
      212102       1.00      1.00      1.00         6
      212112       0.83      1.00      0.91         5
      212121       1.00      1.00      1.00         7
      212122       1.00      0.89      0.94         9
      212162       1.00      0.94      0.97        16
      212171       1.00      1.00      1.00         2
      212172       0.88      1.00      0.93         7
      311011       0.88      0.88      0.88         8
      311012       0.63      0.86      0.73        14
      311021       1.00      0.83      0.91         6
      311022       0.50      0.90      0.64        10
      311031       0.83      0.83      0.83         6
      311032       0.62      1.00      0.77         5
      311041       1.00      0.83      0.91         6
      311042       1.00      0.60      0.75        15
      311052       0.60      1.00      0.75         3
      311062       1.00      0.88      0.93         8
      311072       0.67      1.00      0.80         2
      311082       1.00      0.71      0.83         7
      311122       0.83      1.00      0.91         5
      311131       1.00      1.00      1.00         2
      311132       1.00      0.73      0.84        11
      311161       1.00      0.70      0.82        10
      311162       1.00      0.75      0.86         4
      312011       1.00      0.40      0.57         5
      312012       0.77      1.00      0.87        10
      312021       1.00      1.00      1.00         2
      312022       0.95      0.91      0.93        22
      312032       0.91      0.87      0.89        23
      312042       0.75      0.90      0.82        10
      312052       1.00      0.33      0.50         3
      312062       0.50      1.00      0.67         2
      312142       1.00      1.00      1.00         3
      312162       0.90      1.00      0.95         9
      312172       1.00      0.88      0.93         8

    accuracy                           0.87      1559
   macro avg       0.86      0.84      0.83      1559
weighted avg       0.89      0.87      0.86      1559

[[3 0 0 ... 0 0 0]
 [0 5 0 ... 0 0 0]
 [0 1 6 ... 0 0 0]
 ...
 [0 0 0 ... 3 0 0]
 [0 0 0 ... 0 9 0]
 [0 0 0 ... 0 0 7]]

# Predict

In [32]:
predictions = bestAlgo.predict(X_Test)

In [33]:
print(predictions)

[  2192  12032 212032 ... 111071  11192   1101]